* {
  box-sizing: border-box;
}

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

$laptop: 1024px;
$tablet: 768px;

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: $very-light-gray;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
header {
  max-width: 80%;
  margin: 80px auto 0 auto;
  @include tablet() {
    max-width: 500px;
  }

  h1 {
    color: $very-dark-blue;
    font-size: 1.6em;
    font-weight: 200;
    text-align: center;
    @include laptop() {
      font-size: 2em;
    }
    span {
      display: block;
      font-weight: 600;
    }
  }
  p {
    color: $grayish-blue;
    text-align: center;
    font-weight: 400;
  }
}
.info {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 80px auto 0 auto;

  @include tablet() {
    width: 50%;
  }
  @include laptop() {
    width: 90%;
    max-width: 1440px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card:nth-child(1) {
    border-top-color: $cyan;
    @include laptop() {
      transform: translateY(50%);
    }
  }
  .card:nth-child(2) {
    border-top-color: $red;
  }
  .card:nth-child(3) {
    border-top-color: $orange;
    @include laptop() {
      transform: translateY(50%);
    }
  }
  .card:nth-child(4) {
    border-top-color: $blue;
  }
  .card {
    background-color: white;
    border-top: 5px solid;
    border-radius: 0.5em;
    padding: 2em;
    height: 250px;
    position: relative;
    text-align: left;
    margin-bottom: 2em;
    box-shadow: 0 10px 20px rgba($grayish-blue, 0.4);
    @include laptop() {
      width: 30%;
    }

    h2 {
      color: $very-dark-blue;
      margin: 0;
    }
    p {
      color: $grayish-blue;
      font-weight: 400;
      font-size: 0.83em;
      margin: 0;
      margin-top: 0.5em;
    }
    img {
      position: absolute;
      right: 2em;
      bottom: 2em;
    }
  }
}
